@use "../../settings";

/*
#{settings.$prefix}-box

The box unit.

Weight: -1000

Style guide: #{settings.$prefix}-box
*/

/*
Core

The core module.

Weight: -100

Style guide: #{settings.$prefix}-box.core
*/

/*
Default style

The default style.

Weight: -100

Markup: <div class="#{settings.$prefix}-box">
  <!-- content -->
  <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <!-- nested -->
  <div class="#{settings.$prefix}-box">
    <!-- content -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
    <!-- /content -->
  </div>
  <!-- /nested -->
  <!-- /content -->
</div>

Style guide: #{settings.$prefix}-box.core.default
*/
.#{settings.$prefix}-box {
  --position: relative;
  --display: block;
  --overflow: visible;
  --box-sizing: content-box;
  --width: auto;
  --height: auto;
  --margin: 0;
  --padding: 0;
  --border: 0;
  --color: inherit;
  --list-style: none;
  --background-color: transparent;

  position: var(--position);

  overflow: var(--overflow);
  display: var(--display);

  box-sizing: var(--box-sizing);
  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  padding: var(--padding);
  border: var(--border);

  color: var(--color);
  list-style: var(--list-style);

  background-color: var(--background-color);
}
