@use "../../settings";

/// Unit name
/// @access private
/// @type String
///
$_name: "#{settings.$prefix}-box" !default;

/*
Texture

The texture module.

Weight: -98

Style guide: #{$_name}.texture
*/

/*
Modifiers

The texture modifiers.

Weight: -100

Markup: <div class="#{$_name}  {{modifier_class}}">
  <!-- some unit -->
  <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  <!-- some unit -->
</div>

Style guide: #{$_name}.texture.builtin
*/
.#{$_name}--texture {
  // has no settings
}
