@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "../../settings";

/// Package name
/// @access private
/// @type String
///
$_pkg: settings.$pkg !default;

/*
Theme

The theme module.

Weight: -99

Style guide: #{settings.$prefix}-button.theme
*/

@if meta.type-of(settings.$builtin-themes) == "map" {
  /*
Modifiers

The theme modifiers.

Weight: -100

Markup: <!-- with anchor element -->
<a class="#{settings.$prefix}-button  {{modifier_class}}" href="#">
  <span class="#{settings.$prefix}-button__label  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</span>
</a>
<!-- with button element -->
<button class="#{settings.$prefix}-button  {{modifier_class}}">
  <span class="#{settings.$prefix}-button__label  #{settings.$prefix}-text">あのイーハトーヴォのすきとおった風。</span>
</button>

#{settings.$prefix}-button--theme-normal - Normal theme

Style guide: #{settings.$prefix}-button.theme.builtin
*/
  .#{settings.$prefix}-button--theme {
    &-normal {
      $default-theme: map.get(settings.$builtin-themes, "light");

      --padding: 10px;
      --border-radius: 3px;
      --border-style: 1px solid;
      --transition: background-color 0.1s ease-out;
      --color-up: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "color")})
      );
      --color-focus: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "color-focus")})
      );
      --background-color-up: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "background")})
      );
      --background-color-focus: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "background-focus")})
      );
      --border-color-up: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "border")})
      );
      --border-color-focus: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "border-focus")})
      );
      --color: var(--color-up);
      --background-color: var(--background-color-up);
      --border: var(--border-style) var(--border-color-up);

      border-radius: var(--border-radius);
      transition: var(--transition);

      @at-root {
        $selectors: ("&:hover", "&:focus");

        @each $selector in settings.$selector-focus {
          $selectors: list.append($selectors, "&#{$selector}");
        }

        a#{&},
        button#{&} {
          #{$selectors} {
            --color: var(--color-focus);
            --background-color: var(--background-color-focus);
            --border: var(--border-style) var(--border-color-focus);
          }
        }
      }

      @each $name, $theme in settings.$builtin-themes {
        @media (prefers-color-scheme: #{$name}) {
          $color-up: map.get($theme, "color");
          $color-focus: map.get($theme, "color-focus");
          $background-up: map.get($theme, "background");
          $background-focus: map.get($theme, "background-focus");
          $border-up: map.get($theme, "border");
          $border-focus: map.get($theme, "border-focus");

          --color-up: rgb(var(--#{$_pkg}-color-#{$color-up}));
          --color-focus: rgb(var(--#{$_pkg}-color-#{$color-focus}));
          --background-color-up: rgb(var(--#{$_pkg}-color-#{$background-up}));
          --background-color-focus: rgb(
            var(--#{$_pkg}-color-#{$background-focus})
          );
          --border-color-up: rgb(var(--#{$_pkg}-color-#{$border-up}));
          --border-color-focus: rgb(var(--#{$_pkg}-color-#{$border-focus}));
        }
      }
    }
  }
}
