@use "../../settings";

/*
Align

The align module.

Weight: -96

Style guide: #{settings.$prefix}-text.align
*/

/*
Modifiers

The align modifiers.

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$prefix}-text--align-left - Left alignment
#{settings.$prefix}-text--align-center - Center alignment
#{settings.$prefix}-text--align-right - Right alignment

Style guide: #{settings.$prefix}-text.align.builtin
*/
.#{settings.$prefix}-text--align {
  &-left {
    --text-align: left;
  }

  &-center {
    --text-align: center;
  }

  &-right {
    --text-align: right;
  }
}
