@use "sass:map";
@use "sass:meta";
@use "../../settings";

/// Package name
/// @access private
/// @type String
///
$_pkg: settings.$pkg !default;

/*
Link theme

The link theme.

Weight: -98

Style guide: #{settings.$prefix}-text.link-theme
*/

@if meta.type-of(settings.$builtin-themes) == "map" {
  /*
Modifiers

The link theme modifiers.

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text">Lorem ipsum dolor <a class="#{settings.$prefix}-text__link  {{modifier_class}}" href="#">sit amet</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
<p class="#{settings.$prefix}-text">あの<a class="#{settings.$prefix}-text__link  {{modifier_class}}" href="#">イーハトーヴォ</a>のすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$prefix}-text__link--theme-normal - Normal theme

Style guide: #{settings.$prefix}-text.link-theme.builtin
*/
  .#{settings.$prefix}-text__link--theme {
    &-normal {
      $default-theme: map.get(settings.$builtin-themes, "light");

      --color-link: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "color")})
      );
      --color-focus: rgb(
        var(--#{$_pkg}-color-#{map.get($default-theme, "color-focus")})
      );

      &:link {
        --color: var(--color-link);
        --text-decoration: underline;
      }

      &:hover,
      &:focus {
        --color: var(--color-focus);
        --text-decoration: none;
      }

      @each $name, $theme in settings.$builtin-themes {
        @media (prefers-color-scheme: #{$name}) {
          $color-link: map.get($theme, "color");
          $color-focus: map.get($theme, "color-focus");

          --color-link: rgb(var(--#{$_pkg}-color-#{$color-link}));
          --color-focus: rgb(var(--#{$_pkg}-color-#{$color-focus}));
        }
      }
    }
  }
}
