@use "../../settings";

/*
Truncate

The truncate module.

Weight: -95

Style guide: #{settings.$prefix}-text.truncate
*/

/*
Modifiers

The truncate modifiers.

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$prefix}-text--truncate-true - Enable truncate

Style guide: #{settings.$prefix}-text.truncate.builtin
*/
.#{settings.$prefix}-text--truncate {
  &-true {
    --overflow: hidden;
    --width: 100%;
    --text-overflow: ellipsis;
    --word-wrap: normal;
    --white-space: nowrap;

    text-overflow: var(--text-overflow);
  }
}
