@use "../../settings";

/*
Inline

The inline module.

Weight: -98

Style guide: #{settings.$prefix}-icon.inline
*/

/*
Modifiers

The inline modifiers.

Weight: -100

Markup: <span class="#{settings.$prefix}-icon  #{settings.$prefix}-icon--type-arrow-normal  {{modifier_class}}"></span>
<span class="#{settings.$prefix}-icon  #{settings.$prefix}-icon--type-arrow-normal  {{modifier_class}}"></span>

#{settings.$prefix}-icon--inline-true - Enable inline

Style guide: #{settings.$prefix}-icon.inline.builtin
*/
.#{settings.$prefix}-icon--inline {
  &-true {
    --display: inline-block;
    --vertical-align: middle;
  }
}
