@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:selector";
@use "../../settings";

/// Package name
/// @access private
/// @type String
///
$_pkg: settings.$pkg !default;

/*
Type

The type module.

Weight: -99

Style guide: #{settings.$prefix}-icon.type
*/

@if meta.type-of(settings.$builtin-themes) == "map" {
  /*
Modifiers

The inline modifiers.

Weight: -100

Markup: <span class="#{settings.$prefix}-icon  {{modifier_class}}"></span>

#{settings.$prefix}-icon--type-arrow-normal - Normal theme

Style guide: #{settings.$prefix}-icon.type.builtin
*/
  .#{settings.$prefix}-icon--type {
    &-arrow {
      &-normal {
        $default-theme: map.get(settings.$builtin-themes, "light");
        $this: #{&};

        --color-up: rgb(
          var(--#{$_pkg}-color-#{map.get($default-theme, "color")})
        );
        --color-focus: rgb(
          var(--#{$_pkg}-color-#{map.get($default-theme, "color-focus")})
        );
        --content: "";
        --width: 12.72px;
        --height: 10px;
        --color: var(--color-up);
        --icon-position: absolute;
        --icon-inset: 0 auto auto 0;
        --icon-transform-origin: 0 0;
        --icon-transform: translate(6.36px, 0) rotate(45deg);
        --icon-display: block;
        --icon-width: 9px;
        --icon-height: 2px;

        &::before,
        &::after {
          content: var(--content);

          position: var(--icon-position);
          inset: var(--icon-inset);
          transform-origin: var(--icon-transform-origin);
          transform: var(--icon-transform);

          display: var(--icon-display);

          width: var(--icon-width);
          height: var(--icon-height);

          background-color: var(--color);
        }

        &::after {
          --icon-width: 2px;
          --icon-height: 9px;
        }

        @at-root {
          $selectors: ("&:hover", "&:focus");

          @each $selector in settings.$selector-focus {
            $selectors: list.append($selectors, "&#{$selector}");
          }

          a[href],
          button {
            #{$selectors} {
              #{$this} {
                --color: var(--color-focus);
              }
            }
          }
        }

        @each $name, $theme in settings.$builtin-themes {
          @media (prefers-color-scheme: #{$name}) {
            $color-up: map.get($theme, "color");
            $color-focus: map.get($theme, "color-focus");

            --color-up: rgb(var(--#{$_pkg}-color-#{$color-up}));
            --color-focus: rgb(var(--#{$_pkg}-color-#{$color-focus}));
          }
        }
      }
    }
  }
}
