////
/// (c) hidoo | MIT License
/// @group Default settings
////

/// Default font family.
/// |Name|Description|
/// |:--|:--|
/// |`system-ui`|Use system ui font as primary font in macOS.|
/// |`-apple-system`|Use "San Francisco" as primary font in macOS.|
/// |`BlinkMacSystemFont`|Use "San Francisco" as primary in chrome on macOS.|
/// |`Helvetica`|Secondary font in macOS.|
/// |`Arial`|Secondary font in Windows.|
/// |`Hiragino Sans`|Primary japanese font in macOS.|
/// |`Hiragino Kaku Gothic ProN`|Primary japanese font in macOS. (fallback)|
/// |`Yu Gothic Medium`|Primary japanese font in Windows.|
/// |`YuGothic`|Secondary japanese font in macOS.|
/// |`Meiryo`|Secondary japanese font in Windows.|
/// @type List
///
$family: (
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Helvetica,
  Arial,
  "Hiragino Sans",
  "Hiragino Kaku Gothic ProN",
  "Yu Gothic Medium",
  "YuGothic",
  Meiryo,
  sans-serif
) !default;

/// Default monospace font family.
/// |Name|Description|
/// |:--|:--|
/// |`Consolas`|Primary font in Windows. (Use it if installed in macOS)|
/// |`Monaco`|Primary font in macOS.|
/// |`Menlo`|Secondary font in macOS.|
/// |`Courier`|Secondary font in Windows.|
/// @type List
///
$family-monospace: (
  // stylelint-disable value-keyword-case
  Consolas,
  Monaco,
  Menlo,
  Courier,
  monospace // stylelint-enable value-keyword-case
) !default;

/// Default font size.
/// (default: `14px`)
/// @type Number
///
$size: 14px !default;

/// Default base font size.
/// (default: `16px`)
/// this use if `$enable-relative-size` is `true`
/// @type Number
///
$base-size: 16px !default;

/// Default font size presets
/// @type Map
/// @prop {Number} xsmall [0.75] - size xsmall
/// @prop {Number} small [0.875] - size small
/// @prop {Number} medium [1] - size medium
/// @prop {Number} large [1.15] - size large
/// @prop {Number} xlarge [1.3] - size xlarge
/// @prop {Number} 2xlarge [1.45] - size 2xlarge
/// @prop {Number} 3xlarge [1.6] - size 3xlarge
/// @prop {Number} 4xlarge [1.75] - size 4xlarge
///
$size-presets: (
  "xsmall": 0.75,
  "small": 0.875,
  "medium": 1,
  "large": 1.15,
  "xlarge": 1.3,
  "2xlarge": 1.45,
  "3xlarge": 1.6,
  "4xlarge": 1.75
) !default;

/// Default font weight.
/// (default: `400`)
/// @type Number
///
$weight: 400 !default;

/// Font weight presets
/// @type Map
/// @prop {Number} thin [100] - thin
/// @prop {Number} extra-light [200] - extra-light
/// @prop {Number} light [300] - light
/// @prop {Number} regular [400] - regular
/// @prop {Number} medium [500] - medium
/// @prop {Number} semi-bold [600] - semi-bold
/// @prop {Number} bold [700] - bold
/// @prop {Number} extra-bold [800] - extra-bold
/// @prop {Number} black [900] - black
///
$weight-presets: (
  "thin": 100,
  "extra-light": 200,
  "light": 200,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900
) !default;

/// Default font variant
/// (default: (common-ligatures proportional-width emoji))
/// @type List
///
$variant: (common-ligatures proportional-width emoji) !default;

/// Default font smoothing
/// (webkit: antialiased, moz-osx: grayscale)
/// @type Map
/// @prop {Number} webkit [antialiased] - For browsers macOS
/// @prop {Number} moz-osx [grayscale] - For firefox on macOS
///
$smoothing: (
  "webkit": antialiased,
  "moz-osx": grayscale
) !default;

/// enable relative font size specify.
/// override base size settings of font
/// (default: `true`)
/// @type Boolean
///
$enable-relative-size: true !default;

/// Default list of units that applying font
/// @access private
/// @type List
///
$applying-units: (
  "icon",
  "text",
  "pict",
  "button",
  "table",
  "document",
  "input",
  "toggle",
  "select"
) !default;
