////
/// (c) hidoo | MIT License
/// @group Default settings
////

@forward "./builtin" as builtin-*;
@forward "./color" as color-*;
@forward "./font" as font-*;
@forward "./selector" as selector-*;
@forward "./util" as util-*;

/// Package name.
/// (default: `"unit"`)
/// @type String
///
/// @example scss - scss inputs
///   $pkg: "un";
///
/// @example css - css outputs
///   :root {
///     --un-breakpoint-mobile: 667px;
///   }
///
$pkg: "unit" !default;

/// Default prefix of component class name.
/// (default: `"unit"`)
/// @type String
///
/// @example scss - scss inputs
///   $prefix: "u";
///
/// @example css - css outputs
///   .u-icon {
///     /* settings */
///   }
///
$prefix: "unit" !default;

/// Default breakpoints.
/// @type Map
/// @prop {Number} desktop [1024px] - breakpoint for desktop
/// @prop {Number} mobile [667px] - breakpoint for desktop
///
$breakpoints: (
  "desktop": 1024px,
  "mobile": 667px
) !default;

/// Default link colors
/// @type Map
/// @prop {Color} link [#37a5e4] - color of `:link`
/// @prop {Color} focus [#7ac3ed] - color of `:focus`
///
$link-color: (
  "link": #37a5e4,
  "focus": #7ac3ed
) !default;

/// Default line-height
/// (default: `1.5`)
/// @type Number
///
$line-height: 1.5 !default;

/// Default hyphens
/// (default: `auto`)
/// @type String
///
$hyphens: auto !default;

/// Default letter-spacing
/// (default: `0.04em`)
/// @type Number
///
$letter-spacing: 0.04em !default;

/// Default text-size-adjust
/// (default: `100%`)
/// @type Number
///
$text-size-adjust: 100% !default;

/// Default word-break
/// (default: `normal`)
/// @type String
///
$word-break: normal !default;

/// Default word-wrap
/// (default: `break-word`)
/// @type String
///
$word-wrap: break-word !default;

/// Default line-break
/// (default: `strict`)
/// @type String
///
$line-break: strict !default;

/// Default line-break
/// (default: `strict`)
/// @type String
///
$overflow-wrap: anywhere !default;

/// out warnings verbosely or not
/// @type Boolean
///
$verbose: false !default;
