////
/// (c) hidoo | MIT License
/// @group Default settings
////

/// Settings for expressing of state like `:hover` or `:focus`.
/// (default: `(".is-focus")`)
/// @type List
///
// prettier-ignore
$focus: (".is-focus",) !default;

/// Settings for expressing of state like `:checked`.
/// (default: `(".is-selected")`)
/// @type List
///
// prettier-ignore
$selected: (".is-selected",) !default;

/// Settings for expressing of state like `:disabled`.
/// (default: `(".is-disabled")`)
/// @type List
///
// prettier-ignore
$disabled: (".is-disabled",) !default;

/// Settings for expressing of state like `".is-current"`
/// (default: `(".is-current")`)
/// @type List
///
// prettier-ignore
$current: (".is-current",) !default;

/// Settings for expressing of state like `is-active`.
/// (default: `(".is-active")`)
/// @type List
///
// prettier-ignore
$active: (".is-active",) !default;
