@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-list

The list unit.

Weight: -1080

Style guide: #{settings.$prefix}-list
*/

/*
Core

The core module.

Weight: -100

Style guide: #{settings.$prefix}-list.core
*/

/*
Default style

The default style.

Weight: -100

Markup: <!-- un ordered list -->
<ul class="#{settings.$prefix}-list">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.
    <ul class="#{settings.$prefix}-list">
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
  </li>
</ul>
<!-- ordered list -->
<ol class="#{settings.$prefix}-list">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">あのイーハトーヴォのすきとおった風。</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">あのイーハトーヴォのすきとおった風。
    <ol class="#{settings.$prefix}-list">
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">あのイーハトーヴォのすきとおった風。</li>
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</li>
    </ol>
  </li>
</ol>

Style guide: #{settings.$prefix}-list.core.default
*/
.#{settings.$prefix}-list {
  --counter-reset: none;
  --counter-increment: none;
  --position: relative;
  --display: block;
  --overflow: visible;
  --box-sizing: content-box;
  --width: auto;
  --height: auto;
  --margin: 0;
  --padding: 0;
  --border: 0;
  --color: inherit;
  --list-style: none;
  --background-color: transparent;

  // For item
  --item-padding: 0;

  // For marker
  --marker-position: absolute;
  --marker-top: 0px;
  --marker-left: 0px;
  --marker-content: none;
  --marker-display: block;
  --marker-width: auto;
  --marker-margin: auto;
  --marker-color: currentColor;
  --marker-text-align: center;
  --marker-word-wrap: normal;
  --marker-white-space: nowrap;
  --marker-font-variant: common-ligatures proportional-width text;

  counter-reset: var(--counter-reset);

  position: var(--position);

  overflow: var(--overflow);
  display: var(--display);

  box-sizing: var(--box-sizing);
  width: var(--width);
  height: var(--height);
  margin: var(--margin);
  padding: var(--padding);
  border: var(--border);

  color: var(--color);
  list-style: var(--list-style);

  background-color: var(--background-color);

  & > &__item {
    --padding: var(--item-padding);

    counter-increment: var(--counter-increment);

    &::before {
      content: var(--marker-content);

      position: var(--marker-position);
      top: var(--marker-top);
      left: var(--marker-left);

      display: var(--marker-display);

      width: var(--marker-width);
      margin: var(--marker-margin);

      font-variant: var(--marker-font-variant);
      color: var(--marker-color);
      text-align: var(--marker-text-align);
      word-wrap: var(--marker-word-wrap);
      white-space: var(--marker-white-space);
    }
  }
}
